<html ng-app>
<head>
    <title>pen-animation-01</title>
    <link rel="stylesheet" type="text/css" href="../css/pen-animation.css">
    <script src="../js/angular.min.js"></script>
    <script type="text/javascript">
        function TodoCtrl($scope) {
          
        }
    </script>
</head>
<body ng-controller="TodoCtrl">
    <div class="lines-wrapper">
        <ul class="lines">
            <li class="line" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]"
            style="-webkit-animation-delay: {{i/2}}s;"></li>
        </ul>

        <ul class="lines">
            <li class="line" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]"
            style="-webkit-animation-delay: {{i/2}}s;"></li>
        </ul>
    </div>
</body>
</html>